@charset "UTF-8";

/* Cores - #267365  #F2CB05   #F29F05   #F28705   #F23030  #354A37 */

:root {
    --cor1: #267365;
    --cor2: #F2CB05;
    --cor3: #F29F05;
    --cor4: #F28705;
    --cor5: #F23030;
    --cor6: #354A37;

    --preto: black;
    --branco: white;
    --sombra: black;
    --borda: black;
    --texto: black;
}

html[dark] {

    background-image: none;
    
    --cor1: #E1E6FA;
    --cor2: #C4D7ED;
    --cor3: #375D81;
    --cor4: #375D81;
    --cor5: white;
    --cor6: #ABC8E2;

    --preto: black;
    --branco: white;
    --sombra: black;
    --borda: black;
    --texto: black;
}

html {
    background-image: url(calculator/fundo.jpg);
    background-size: cover;

    --cor1: #267365;
    --cor2: #F2CB05;
    --cor3: #F29F05;
    --cor4: #F28705;
    --cor5: #F23030;
    --cor6: #354A37;

    --preto: black;
    --branco: white;
    --sombra: black;
    --borda: black;
    --texto: black;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    height: 100%;
    min-height: 100%;
}

main {
    background-color: var(--cor6);
    width: 95%;
    margin: auto;
}

header {
    background-color: var(--cor3);
    width: 100%;
    height: 92,84px;
    display: flex;
}

.logo {
    width: 0;
    position: relative;
    height: auto;
    display: block;
   
}
#logo {
    width: 130px;
    height: auto;
    margin: 10px 20px 10px 20px;   
}

nav {
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
}
ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
li {
    width: auto;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}

li > a {
    width: 180px;
    height: auto;
    color: var(--texto);
    font-size: 1.2em;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    padding: 2px;
    border: 2px solid var(--borda);
    
}

li > a:hover  {
    text-align: center;
    white-space: nowrap;
    color: var(--texto);
    background-color: var(--cor1);
    border: 2px solid var(--borda);
    box-shadow: 2px 2px 5px  var(--sombra);
    cursor: pointer;
}

#container {
    width: 100%;
    height: auto;
    margin: auto;
    background: var(--cor6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bloco {
    margin: auto;
    box-shadow: 3px 4px 8px  var(--sombra);
    width: 320px;
    height: 510px;
    background: var(--branco);
	border-radius: 14px;
}

.ladoe {
    width: 48%;
    margin: 50px 30px 30px 18px; 
}

.linhav {
    width: auto;
    height: 400px;
    border-right: 3px solid var(--preto);
    margin-right: 10px;
    margin-left: 10px;
}

.ladod {
    color: var(--texto);
    margin: 20px 0 30px 50px;
    width: 48%;
}

.ladod h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0 20px 0;
    font-size: 2.5em;
    width: 80%;
}

.ladod p {
    margin: 5px 0 20px 0;
    font-size: 1.3em;
    font-weight: 500;
    width: 80%;
    text-align: center;
} 

.tela {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: var(--cor3);
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.botoes {
    padding: 5px 20px 0 20px;
}

.linhas {
    width: 280px;
    float: left;
    margin-bottom: 2px;
}

input[type=button] {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background-color: #ecedef;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700px;
    color: #5E5858;
    cursor: pointer;
}

input[type=text] {
    width: 100%;
	height: 60px;
	float: left;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
	color: var(--texto);
	text-align: right;
	font-weight: 600;
	font-size: 60px;
	line-height: 60px;
	margin: auto;
}

#bres {
    background-color:var(--cor3);
    color: var(--texto);
    width: 130px;
    border-radius: 10%;
}

.voltar {
    margin: 0px 0px 0px 25px;
    width: 95%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;

}      
#btvoltar {
    width: 80px;
    height: 30px;
    
    border: 3px solid var(--borda);
    background-color: var(--cor4);
    color: var(--texto);
    font-weight: bolder; 

}
#btvoltar:hover {
    background-color: var(--cor2);
    font-weight: 900;
    box-shadow: 2px 2px 5px var(--sombra);
    cursor: pointer;
}

footer {
    background-color: var(--cor3);
    color: var(--texto);
    margin: 30px 0px 0px 0px;
    padding: 10px 0px 0px 0px;   
    display: flex;
    flex-direction: row;    
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.esq {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    margin-bottom: 10px;    
}

.dir  {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10px;
}

footer img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--borda);
    margin: 0px 0px 0px 10px;
}

@media (max-width: 850px)  {
    main {
        width: 95%;
        margin: auto;
    }

    #container {
        width: 100%;
        height: auto;
        margin: 0;
        background: var(--cor6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .linhav {
        width: 90%;
        height: auto;
        border-top: 3px solid black;    
    }

    .ladoe {
        width: auto;
        margin: 40px 0 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ladod h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5em;
        width: auto;
    }
    .ladod p {
        margin: auto;
        font-size: 1.3em;
        font-weight: 500;
        width: auto;
        text-align: center;
    }

    .ladod {
        color: var(--texto);
        width: auto;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .voltar {
        width: 100%;
        margin: 15px 0 15px 0;       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }     
    
}
@media (max-width: 580px) {
    footer img {
        width: 30px;
        border-radius: 50%;
        border: 2px solid var(--cor6);
        margin: 0px 0px 0px 5px;
    }
}

p > a > img:hover {
    box-shadow: 2px 2px 5px  var(--borda);
}

#burguer {
    display: none;
}

@media (max-width: 740px) {
    
    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }

    .logo {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    ul > li {
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 90%;
    }

    ul > li > a {
        width: 300px;
    }

    nav {
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    #burguer {
        color: black;
        width: 45%;
        justify-content: end;
        display: flex; 
        margin: auto;
        padding: 10px;
    }
    
    #burguer:hover {
        cursor: pointer;
    }

    #btmenu {
        display: none;
    }
    
}
